
@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Notification"/>
<div class="text-center">
    
    <div class="row pt-4">
        <div class="col-6"></div>
        <div class="col-6 text-end">
            <div class="dropdown">
              <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categorias</a>
              <div class="dropdown-menu">
                  @foreach (var cat in ViewBag.Categories)
                  {
                        <a class="dropdown-item" asp-action="Index" asp-controller="Home" asp-route-categoryId="@cat.Id">@cat.Name</a>
                  }
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach(Product product in ViewBag.Products)
        {
            <div class="col-sm-6 col-md-4 col-xl-3">
                <img class="rounded card-img-top mt-3" src="@product.ImgUrl" alt="@product.Name"/>
                <div class="d-flex flex-column align-items-center p-3">
                    <h3 class="text-white fw-bold mb-3 card-title">@product.Name</h3>
                    <p class="text-secondary text-start">@product.Description</p>
                    <div>
                        <a class="btn btn-outline-primary me-3" asp-action="Buy" asp-controller="OrderDetails" asp-route-id="@product.Id"><i class="bi bi-cart"></i> Comprar</a>
                        <a class="btn btn-outline-secondary" asp-action="Details" asp-controller="Product" asp-route-id="@product.Id"><i class="bi bi-info-circle-fill"></i> Detalhes</a>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
